:root {
  --fonte-clara: #ffffff;
  --bg-cinza-escuro: #2c2c2c;
  --bg-cinza-claro: #606060;
  --bg-cinza-intermediario: #a9a9a9;
}

.container-uimode {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Quando ativado */
input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider::before {
  transform: translateX(30px);
}

/* Texto ao lado */
#mode-label {
  font-size: 16px;
  font-weight: 500;
  color: inherit;
}

/* Modo escuro */
.dark-mode {
  background-color: #413f3f;
  color: #ffffff;
}

/* linguagens - Darkmode */
.dark-mode .header {
  background-color: var(--bg-cinza-claro);
  
}

.dark-mode .header a{
  color: var(--fonte-clara);
  
}

/* Estilo padrão (modo claro) */
.container {
  background-color: #ffffff; /* branco */
  transition: background-color 0.3s ease;
}

/* Quando o modo escuro estiver ativo */
.dark-mode .container {
  background-color: var(--bg-cinza-escuro); /* cinza escuro */
}

/* Barra de Perfil - Darkmode */
.dark-mode .sidebar {
  background-color: var(--bg-cinza-claro);
  
}

.dark-mode .sidebar p {
  color: var(--fonte-clara) !important; /* usa a variável branca */
}

/* experiencia - Darkmode */
.dark-mode .work-experience {
  background-color: var(--bg-cinza-claro);
  
}

/* linguagens - Darkmode */
.dark-mode .expert-area {
  background-color: var(--bg-cinza-claro);
  
}

/* linguagens  ico- Darkmode */
.dark-mode .tools-grid {
  background-color: var(--bg-cinza-intermediario);
  
}

/* linguagens - Darkmode */
.dark-mode .services {
  background-color: var(--bg-cinza-claro);
  
}

/* linguagens - Darkmode */
.dark-mode .service-card {
  background-color: var(--bg-cinza-intermediario);
  
}





/* Modo claro */
.light-mode {
  background-color: #f4f4f4;
  color: #000000;
}
